/* ARTICLE WRAPPER */
.article {
    width: 100%;
    height: 855px;
    display: flex;
    gap: 65px;
    flex-direction: column;
    align-items: center;
}

/* TOP SECTION */
.article-name {
    width: 100%;
    height: 242px;
    display: flex;
    align-items: flex-end;
    padding: 0 110px;
    justify-content: space-between;
}

.article-name h2 {
    width: 544px;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 1px;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.article-name h2 span {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #B16CEA;
}

.article-name button {
    width: 200px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    font-size: 18px;
    color: #fff;
    margin-bottom: 50px;
}

/* ✨ HORIZONTAL SCROLL */
.article-cards {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: flex-start;
    padding-left: 110px;

    overflow-x: auto;
    overflow-y: hidden;

    /* Hide scrollbar */
    scrollbar-width: none;
    /* Firefox */
    z-index: 10;
}

.article-cards::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

/* CARD ITEM */
.article-card {
    width: 486px;
    flex: 0 0 auto;
    /* Karta o‘lchami o‘zgarmasin */
    display: flex;
    padding: 0 0 32px 0;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
}

/* CARD IMAGE */
.article-card img {
    width: 100%;
    height: 305px;
    object-fit: cover;
}

/* CARD TEXT */
.article-card span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #3C46FF;
    margin-top: 20px;
}

.article-card h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

.article-card p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

/* ❗ Margin-left faqat card ichidagi elementlarga ishlasin */
.article-card span,
.article-card h3,
.article-card p {
    margin-left: 32px;
}

