.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 110px;
}

.header-logo {
    width: 203px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 13px;
}

.header-logo h1 {
    font-size: 24px;
    font-weight: 800;
    color: #000;
}

.header-ul {
    width: 515px;
    height: 38px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.header-ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.header-ul li a:hover {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.header-ul li a i{
    color: #000;
    font-size: 14px;
}