.nav {
    width: 100%;
    height: 811px;
    display: flex;
    align-items: center;
    padding: 0 110px 80px 110px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
}

.nav-name {
    width: 100%;
    height: 183px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.nav-name span {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FF8A56;
}

.nav-name h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.nav-blog {
    width: 100%;
    height: 428px;
    display: flex;
    gap: 43px;
    align-items: center;
    flex-wrap: wrap;
}

.nav-card{
    width: 583px;
    height: 82px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid #888;
}

.nav-card p {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.nav-card i{
    color: #FFFFFF;
}