.section {
    width: 100%;
    height: 685px;
    display: flex;
    align-items: center;
    padding: 25px 110px;
    justify-content: space-between;
}

.section-about {
    width: 715px;
    height: 635px;
    display: flex;
    gap: 27px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}

.section-about h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    letter-spacing: 2px;
    color: #000;
}

.section-about h2 span {
    color: #FF8A56;
}

.section-about p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #666666;
}

.stn-btns {
    display: flex;
    gap: 40px;
    align-items: center;
}

.stn-btns button:first-child {
    width: 151px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    border-radius: 0px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.stn-btns button:last-child {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    background: rgba(0, 0, 0, 0);
}

.section-brend {
    width: 100%;
    height: 250px;
    display: flex;
    gap: 45px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.section-brend h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.brends-logo {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.section-hero {
    width: 100%;
    height: 815px;
    display: flex;
    align-items: center;
    padding: 80px 110px 0 100px;
    flex-direction: column;
    justify-content: space-between;
}

.hero-name {
    width: 810px;
    height: 272px;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-name span {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FF5E69;
}

.hero-name h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}

.hero-cards {
    width: 100%;
    height: 381px;
    display: flex;
    align-items: center;
    padding: 0 60px;
    justify-content: space-between;
}

.hero-card {
    width: 306px;
    height: 380px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.hero-card h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

.hero-card p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

.hero-card ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-ul li {
    list-style-type: square;
}

.hero-ul li a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}