.users {
    width: 100%;
    height: 873px;
    display: flex;
    gap: 84px;
    align-items: center;
    padding: 0 110px 160px 110px;
    flex-direction: column;
    justify-content: center;
}

.users-name {
    width: 100%;
    height: 183px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}

.users-name span {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4353FF;
}

.users-name h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 1px;
    color: #000000;
}

.users-comment {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users-about {
    width: 583px;
    height: 450px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.users-about span {
    background: linear-gradient(90deg, #B16CEA, #FF5E69, #FF8A56, #FFA84B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-style: normal;
    display: inline-block;
}

.users-about h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
}

.user-slid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-slid h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.user-slid p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.user-next {
    display: flex;
    align-items: center;
}

.user-next i {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    border-radius: 0px;
    color: #fff;
}